<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyek_android"
        tools:targetApi="31">
        <activity
            android:name=".adminActivity.AddMatch"
            android:exported="false" />
        <activity
            android:name=".adminActivity.ManageMatch"
            android:exported="false" />
        <activity
            android:name=".adminActivity.AddTournament"
            android:exported="false" />
        <activity
            android:name=".adminActivity.ManageTournament"
            android:exported="false" />
        <activity
            android:name=".adminActivity.AddTeams"
            android:exported="false" />
        <activity
            android:name=".adminActivity.ManageTeams"
            android:exported="false" />
        <activity
            android:name=".adminActivity.AddOrganizations"
            android:exported="false" />
        <activity
            android:name=".adminActivity.ManageOrganizations"
            android:exported="false" />
        <activity
            android:name=".userActivity.OrganizationPage"
            android:exported="false" />
        <activity
            android:name=".userActivity.TeamProfile"
            android:exported="false" />
        <activity
            android:name=".userActivity.PlayerProfile"
            android:exported="false" />
        <activity
            android:name=".userActivity.TournamentPage"
            android:exported="false" />
        <activity
            android:name=".userActivity.ResetCredentials"
            android:exported="false" />
        <activity
            android:name=".adminActivity.AddNews"
            android:exported="false" />
        <activity
            android:name=".adminActivity.ManageNews"
            android:exported="false" />
        <activity
            android:name=".adminActivity.AddPlayer"
            android:exported="false" />
        <activity
            android:name=".adminActivity.ManagePlayers"
            android:exported="false" />
        <activity
            android:name=".userActivity.Search"
            android:exported="false" />
        <activity
            android:name=".adminActivity.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".userActivity.NewsDetail"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".userActivity.UserActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>